
{% extends 'default/base.html' %}
{% load staticfiles %}
{% block content %}
      <div class="jumbotron">
        <b><font size="16">心在远方，书在身边</font></b>
        <form>
          <input class="span2" type="text" maxlength="20" style="width:550px;" 
                placeholder="感兴趣的作者，书和小组">
          <a class="btn btn-lg btn-primary" style="line-height: 1.5;"  role="button">搜索</a>
        </form>
          
        </p>
      </div>

        <div class="col-md-8">
            <h2>达人推荐</h2>
            {% for book in book_list %}
            <div class="col-md-3 libray_book">
              <a href="/book/{{ book.id }}">
                <img src="{{book.imgurl}}" class="img-polaroid book_img"> </img>
                <h4>{{ book.title }} </h4>
              </a>
            </div>
           {% endfor %}
        </div>

        <div class="col-md-4">
          <h2>热门标签</h2>
          {% for item in tag_list %}
            {{ item }} </br>
          {% endfor %}
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>

{% endblock %}

